<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="controlador" >

<robot>

<ros2_control name="GazeboSystem" type="system">
  <hardware>
    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
  </hardware>
  <joint name="pan_joint" />
</ros2_control>

<gazebo>
  <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
    <parameters>$(find medusa)/config/controller.yaml</parameters>
  </plugin>
</gazebo>
